.mountains {
  .p-tabview-nav {
    .p-unselectable-text {
      .p-tabview-nav-link {
        color: $gray;
        background-color: $light-blue;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        padding: 8px 95px;
        margin: 1rem 1rem 0;
        border: 0;
      }
    }

    .p-tabview-selected {
      .p-tabview-nav-link {
        color: $white;
        background-color: $primary;
      }
    }
  }
}

.frameless {
  .p-tabview-nav {
    border: 0;

    .p-unselectable-text {
      .p-tabview-nav-link {
        color: $primary;
        background-color: transparent;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        padding: 0.7rem 1rem;
        margin: 0;
        border: 0;
      }
    }

    .p-tabview-selected {
      border-bottom: 1px solid $primary;
    }
  }
}

.pills {
  .p-tabview-nav {
    border: 0;

    .p-unselectable-text {
      .p-tabview-nav-link {
        color: $primary;
        background-color: transparent;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        padding: 0.7rem 1rem;
        margin: 0;
        border: 0;
      }
    }

    .p-tabview-selected {
      background-color: $primary;
      border-radius: 25px;

      .p-tabview-nav-link {
        color: $white;
        margin: 0;
      }
    }
  }
}

.blocks {
  border: 1px solid $light;
  border-radius: 15px;
  overflow: hidden;


  .p-tabview-nav {
    gap: 1rem;
    background-color: $light-blue;
    padding: 1px;

    .p-unselectable-text {
      color: $gray;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .p-tabview-nav-link {
        background: transparent;
        border: none;
      }

    }

    .p-tabview-selected {
      background: $white;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      overflow: hidden;
      color: $primary;
      border: none;
    }
  }
}

.p-tabview-nav {
  display: flex;
  align-items: center;
}

.p-tabview {
  &.center {
    .p-tabview-nav {
      justify-content: center;
    }
  }

  &.start {
    .p-tabview-nav {
      justify-content: flex-start;
    }
  }

  &.between {
    .p-tabview-nav {
      justify-content: space-between;
    }
  }

  &.end {
    .p-tabview-nav {
      justify-content: flex-end;
    }
  }
}


.nav-pills {
  .nav-link {
    color: black;

    &.active {
      background-color: $light-blue;
      color: black;
    }
  }
}