.clients-card{
    background-color: #EE9F31;
}
.calendar-card{
    background-color: #F2B866;
}
.surface-card{
    background-color: #F8D9AD;
}
.projects-card{
    background-color: #FBE9D0;
}
.s-figure1{
    figcaption{
        background: linear-gradient(56deg, #6D6DFF -15.13%, #00006B 104.55%);
    }
}
.s-figure2{
    figcaption{
        background: linear-gradient(56deg, #FFCC85 -15.13%, #EC971F 104.55%);
    }
}